* {
    margin:  0;
    padding: 0;
}
body {
    background-color: #f9f9f9;
}

.pre-header {
    background-color:#13181a;
    height: 60px;
    color: #fff;
    padding-top: 15px;

}

.pre-header .secondary-menu{
        list-style: none;
}

.pre-header .secondary-menu li{
    display: inline-block;
    margin-left: 15px;
    
}

.pre-header .secondary-menu li a {
    color: #707374;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav .main-menu{
    list-style: none;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
}

.main-nav .main-menu li {
    display: inline-block;
    margin-left: 15px;

}

.main-nav .main-menu li a {
    color: #767676;
    text-transform: uppercase;
    text-decoration: none;
    
}

.main-cta-btn {
    background-color: #4f33f1;
    border: 1px solid #4f33f1;
    padding: 10px;
    color: #fff !important;
    transition: 0.3s;
    

}

.main-cta-btn:hover{
    color: #4f33f1 !important;
    background-color: transparent ;
    text-decoration: none;
}

.main-nav img {
margin-top: 15px;
}
.hero-section{
    background-image: url('../images/hero.jpg');
    padding-top: 225px;
    padding-bottom: 115px;
    background-size: cover;
}
.hero-section h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 65px;
    margin-bottom: 20px;
}
.hero-section p{
    color: #fff;
    font-size: 23px;
    font-weight:  bold;
    margin-bottom: 15px;
}
.hero-section a{
    background-color: #4f33f1;
    border: 1px solid #4f33f1;
    padding: 10px;
    color: #fff;
    transition: 0.3s;
    display: inline-block;
}
.services-selection{
    padding-top: 100px;
    padding-bottom: 100;

}

.services-selection h3{
    text-align: center;
    color: #4c007b;
    text-transform: uppercase;
    font-size: 18px;
}
.services-selection h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: #343434;
    font-weight: bold;
}

.services-selection p{
    text-align: center;
    color: #818181;
}
.services-selection .service-item{
    background-color: #1b1f20;
    -webkit-box-shadow: -19px 17px 19px -9px rgba(0,0,0,1);
    -moz-box-shadow: -19px 17px 19px -9px rgba(0,0,0,1);
    box-shadow: -19px 17px 19px -9px rgba(0,0,0,1);
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
    transition: 0.3s;
    margin-top: 50px;
}
.services-selection .service-item:hover{
    background-color: #4c007b;
    cursor: pointer;
    margin-top: 15px;
    -webkit-box-shadow: -19px 19px 22px -9px rgba(0,0,0,1);
    -moz-box-shadow: -19px 19px 19px -9px rgba(0,0,0,1);
    box-shadow: -19px 22px 21px -9px rgba(0,0,0,1);
}

.services-selection .service-item h4{
    color:  #fff;
    text-align: center;
    text-transform: uppercase;
}
.services-selection .service-item p{
    color: #fff;
    text-align: center;
    
}
.services-selection .service-item a{
    color: #fff;
    text-align: center;
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px;

}
.how-it-works-selection {
    text-align: center;
    background-image: url("../images/works.jpg");
    background-size: cover;
    padding-top: 100px;
    color: #fff;
}
.how-it-works-selection h3{
    text-align: center;
    color: #4c007b;
    text-transform: uppercase;
    font-size: 18px;
}
.how-it-works-selection h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: #343434;
    font-weight: bold;
}

.how-it-works-selection p{
    text-align: center;
    color: #fff;
}
.how-it-works-selection a {
    display: block;
    position: relative;
    bottom: -30px;
}
.how-it-works-selection .modal .modal-dialog {
    max-width: 700px;
}
.how-it-works-selection .modal .modal-dialog .modal-content {
    background-color: transparent;
    border: 0;
}
.how-it-works-selection .modal .modal-dialog .modal-content .modal-header {
    border-bottom: 0;
}
.how-it-works-selection .modal .modal-dialog .modal-content .modal-header button {
    color: #fff;
    font-size: 50px;
}
.customers-say-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.customers-say-section .testimonials {
    background-size: cover;
    background-position: center;
    height: 360px;
    color: #fff;
}
.customers-say-section .testimonials .testimonial-inner {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    padding: 25px;
    position: relative;
}
.customers-say-section .testimonials .testimonial-inner .testimonial-content {
    position: absolute;
    bottom: 25px;
}
.customers-say-section .testimonials .testimonial-inner .testimonial-content:before {
    content:"";
    width:3px;
    height:55px;
    background-color: #fff;
    position:absolute;
    left:-10px;
    top:5px;
}
.about-section {
    background-image:   url("../images/about.jpg");
    background-size: cover;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-section h3 {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px  dotted #7c7586;
}

.school-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.school-section .school-inner {
    background-image: url('../images/school.jpg');
    background-size: cover;
}

.school-section .school-inner .school-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 50px;
    color: #fff;
}

.school-section .school-inner .school-overlay .conference-date span {
    background-color: #2a66f7;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}
.school-section .school-inner .school-overlay .countdown {
    padding: 10px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 42px;
    border: 1px solid #fff;
}

.school-section .school-inner .school-overlay .main-cta-btn {
    margin-top: 20px;
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 85% 100%, 0 100%);
}

.contact-section {
     padding-top: 100px;
     padding-bottom: 100px;
     background-image:   url("../images/about.jpg");
     background-size: cover;
     color: #fff;
}
.contact-section .contact-container {
    margin-top: 50px;
}

.contact-section h2, .contact-section p {
    text-align: center;
}

.contact-section .contact-details {
    text-align: left;
}
.contact-section .contact-details p {
    text-align: left;
}
.contact-section form {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 50px;
}
.contact-section form textarea, .contact-section form input, .contact-section form button  {
    width: 100%;
    border: 0;
    outline: none;
    margin-bottom: 15px;
    height: 40px;
}
.contact-section form textarea {
    height: 80px;
}
.contact-section form button {
    background-color: #1a7dfa;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 250px;
}
.contact-section form label {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255 ,255 0.7);
}